*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.side-bar{
    width: 16%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 350px;
    background-color: #ffffff; 
    flex-direction: column;
    padding: 20px 10px;
    border: 1px solid #F5F5F7;
    float: left;
}

.Hug-text{
    width: 180px;
    height: auto;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.huegas-text{
    width: auto;
    height: auto;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.img{
    width:22%;
    height: 100%;
    display: flex;
    justify-self: flex-start;
    align-self: center;
}

.img img{
    width: 100%;
    height: 100%;
}

.text{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1{
    font-size: 20px;
    color:#141522;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.hug{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.content{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px 0;
    border-radius: 10px;
}

.content::before{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.content.active{
    background-color: #F5F5F7;
    border-radius: 10px;
    cursor: pointer;
}

.content:hover{
    background-color: #F5F5F7;
    cursor: pointer;
}


.image{
    width: 20%;
    height: 24px;
    right: 115px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.image-text{
    width: 40%;
    position: absolute;
    height: 24px;
    left: 75px;
}

.image-text h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #141522;
    width: 100%;
    height: 100%;
}



.help-center{
    width: 170px;
    height: 248px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141522;
    position: relative;
}

.question-image{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/_.png');
    background-position: center;
    background-size: size;
    background-repeat: no-repeat;
    border: 4px solid #ffffff;
    background-color: #141522;
    position: absolute;
    left: 60px;
    top: -20px;
}

.help-center-content{
    width: 152px;
    height: 76px;
    position: absolute;
}

.help-center-content h1{
    font-size:16px;
    font-family: 'satoshi', sans-serif;
    color:#ffffff;
    text-align: center;
}

.help-center-content p{
    font-size: 12px;
    color: #ffffff;
    font-family: 'Satoshi',sans-serif;
    text-align: center;
    padding: 10px 5px;
}

.help-center-link{
    width: 150px;
    height: 40px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    top: 200px;
}

.help-center-link a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}

.help-center-link a h1{
    font-size: 12px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #141522;
}

.help-center-link:hover{
    background-color: #141522;
    cursor: pointer;
    border: 1px solid #F5F5F7;
}

.help-center-link:hover .link-header{
    color: #F5F5F7;
}

.tabcontent{
    width: 83.5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
    background-color: #F5F5F7;
}

.settings-message{
    width: 83.5%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
    background-color: #F5F5F7;
}

.tabcontent-header{
    width:100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border: 1px solid red;
}

.Task{
    width:100%;
    height: auto;
    display: flex;
    padding: unset;
    flex-direction: column;
}

.tabcontent-body-content{
    width: auto;
    height: auto;
    display: flex;
    border: 1px solid red;
    animation: fadeEffect 1s;
}

.task-details{
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.task-details-1{
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-search-form {
    width: 408px; /* Set a fixed width */
    height: 52px; /* Set a fixed height */
    display: flex;
    align-items: center;
}

.chat{
    width:352px;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px;
}

.form-search {
    width: 100%; /* Make the form take full width of the parent */
    height: 100%; /* Make the form take full height of the parent */
    display: flex; /* Enable flexbox */
}

.search-container{
    position: relative;
    width: 100%; /* Make the search container take full width */
    height: 100%; /* Make the search container take full height */
}

.task-search-form input[type="search"] {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border-radius: 10px;
    border: 1px solid #F5F5F7;
    padding: 0 30px; /* Padding for text */
}

.task-search-form a img {
    position: absolute; /* Position the icon */
    right: 10px; /* Space from the right edge */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical alignment */
    width: 20px;
    height: 20px;
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
}

.task-search-form input::placeholder {
    color: #54577A; /* Change the color of the placeholder */
    font-family: 'Plus Jakarta Sans', sans-serif;
    opacity: 1; /* Ensures full opacity */
    font-size: 12px; /* Change the font size */
    font-weight: 400; /* Change to 400 */
}

.task-section{
    width: 35%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.category, .deadline{
    width: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid #F5F5F7;
    border-radius: 10px;
}

.deadline{
    width: 196px;
}

.category-image, .deadline-image{
   width: 92px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 24px;
}

.deadline-image{
    width: 140px;
}

.category h1, .task-section h1{
    font-size: 12px;
    color: #141522;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600px;

}

.tabcontent-body-content-1{
    width: 720px;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 20px;
    padding-bottom: 10px;
    flex-direction: column;
    border-radius: 10px;
}

  .task-menu {
    width: 100%;
    height: 360px; /* Adjust as needed */
    background-color: #ffffff;
    border-radius: 10px;
}

.task-menu-video {
    width: 100%;
    height: 360px;
    border-radius: 10px;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.custom-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    background-color: #ffffff; /* Background color */
    position: absolute;
    width: 672px; /* Width */
    height: 44px; /* Height */
    border-radius: 10px;
    padding: 5px;
    top: 292px;
    left: 24px;
}

.custom-controls i{
    font-size: 15px;
    color: #141522;
}

.custom-controls input[type="range"] {
    margin: 0 5px;
}

.volume {
    width: 100px; /* Volume slider width */
}

.custom-controls button {
    border: none;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background: none;
    cursor: pointer;
}

.progress{
    width: 354px;
    height: 8px;
}

.mobile-apps{
    width: 684px;
    height: auto;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    flex-direction: column;
    margin: 20px 0 0 20px;
}

.mobile-apps h1{
    font-family: 'Plus Jakarta Sans';
    font-size: 32px;
    font-weight: 600;
    padding: 5px 0;
    letter-spacing: -0.03em;
    text-align: left;
    margin-right: 10px;
}

.mobile-apps p{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    letter-spacing: -0.02em;
    text-align: left;
}

.mobile-apps p span{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    color: #04A4F4;
    padding: 0 2px;
}

.icons-mobile{
    width: 356px;
    height: 21px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin: 5px 0;
}

.student-icon-image, .icon-hour{
    width: 168px;
    height: 21px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.student-icon-image h1, .icon-hour h1{
    font-size: 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.icon-image, .icon-image-1{
    width:16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin: 0 2px;
}

.icon-image{
    background-image: url('../image/profile-2user.png');
}

.icon-image-1{
    background-image: url('../image/clock.png');
}

.description{
    width: 684px;
    height: 136px;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; */
    margin: 20px 0 0 20px;
}

.description h1{
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
    padding-bottom: 12px;
}

.description p{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    padding-right: 3px;
}

                      
.essence-assessment{
    width: 350px;
    height: 224px;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    margin: 20px 0 0 20px;
}

.essence-assessment h1{
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
}

.Assessment-content{
    width: 100%;
    height: 172px;
    margin-top: 16px;
}

.Assessment-content-1{
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.Assessment-content-1 p{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}


.Assessment-content-1:nth-child(2), .Assessment-content-1:nth-child(3), .Assessment-content-1:nth-child(4){
    margin-top: 10px;
}

.assessment-icon{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: url('../image/tick-circle.png');
}

.assigned-assignment{
    width: 372px;
    height: 812px;
    border-radius: 10px;
    margin: 20px 20px 0 0;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.assigned-assignment h1{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 0 10px;
}

.creating-awesome{
    width: 93%;
    display: flex;
    justify-content:  flex-start;
    align-content: flex-start;
    flex-direction: column;
}

.creating-awesome:nth-of-type(1){
    margin: 20px auto;
    height: 104px;
}

.creating-awesome:nth-of-type(2){
    margin: 0 auto;
    height: 145px;
}


.creating-awesome:nth-of-type(1) h3{
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
    padding-bottom: 10px;
}

.creating-awesome:nth-of-type(1) p{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
}

.student-layout{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 12px;
}

.student-info{
    width: 100%;
    height: 20px;
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.student-info p{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
}

.info{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: right;
}

.creating-awesome:nth-of-type(2) h3{
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
}

.creating-awesome:nth-of-type(3){
    margin: 20px auto;
    height: 316px;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; */
}

.creating-awesome:nth-of-type(3) h3{
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
}

.date-modified{
    width: 100%;
    height: 268px;
    margin-top: 20px;
}

.file-task-modified{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-task-modified p:nth-child(1){
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
}

.file-task-modified p:nth-child(2){
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: right;
}

.file-permission{
    width: 100%;
    height: 228px;
    margin-top: 16px;
}

.file-permission p{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
}

.dropzone{
    width: 100%;
    height: 160px;
    border: 1px dashed #546FFF;
    margin-top: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-image{
    width: 32px;
    height: 32px;
    background-image: url("../image/folder-open.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.label-drag{
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 15.12px;
    letter-spacing: -0.01em;
    text-align: left;
}

.chat-layout{
    width: 400px;
    height: 908px;
    background-color: #ffffff;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
}

.chat-messages{
    width: 352px;
    height: 768px;
    margin: 10px 20px 0 20px;
}

.chat-messages-info{
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-messages-info.active{
    background-color: #F5F5F7;
}

.chat-2, .chat-3,.chat-4,.chat-5,.chat-6,.chat-7,.chat-8{
    margin-top: 15px;
}

.horizontal-line{
    width: 312px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 30px 0 20px;
    border: 1px solid #F5F5F7;
}


.chat-message-text{
    width: 312px;
    height: auto;
    margin: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.chat-image{
    width: 48px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.image-1{
    background-image: url('../image/pic.png');
}

.image-2{
    background-image: url('../image/photo.png');
}

.image-3{
    background-image: url('../image/girl.png');
}

.image-4{
    background-image: url('../image/big.png');
}

.image-5{
    background-image: url('../image/fine.png');
}

.image-6{
    background-image: url('../image/man.png');
}

.image-7{
    background-image: url('../image/beauty.png');
}

.image-8{
    background-image: url('../image/handsome.png');
}




.chat-messages-text{
    width: 252px;
    height: 46px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.chat-messages-header{
    width: 252px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-messages-header h3{
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #141522;
}

.chat-messages-header p{
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 15.12px;
    letter-spacing: -0.01em;
    text-align: right;
    color: #141522;
}

.chat-messages-content{
    width: 252px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-messages-content p{
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: -0.01em;
    text-align: right;
    color: #141522;

}

.online-signal{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.signal-1{
    background-image: url('../image/done_all.png');
}

.signal-2{
    background-image: url('../image/seen.png');
}

.signal-3{
    background-image: url('../image/done_all.png');
}

.signal-4{
    background-image: url('../image/seen.png');
}

.signal-5{
    background-image: url('../image/done_all.png');
}

.signal-6{
    background-image: url('../image/seen.png');
}

.signal-7{
    background-image: url('../image/done_all.png');
}

.signal-8{
    background-image: url('../image/seen.png');
}


.settings-header, .settings-header-content{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.settings-header h1{
    font-size: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600px;
}

.settings-header-content{
    width: auto;
}

.settings-header-content a img{
    width: 35px;
    height: 90%;
    margin: 0 7px;
}

.tabcontent-body{
    width: 97%;
    height: 500px;
    margin: 25px 16px;
    background-color: #ffffff;
    border-radius: 10px;
}

.tabcontent-body-header{
    width: 94%;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 30px;
    border-bottom: 1px solid #F5F5F7;
}

.tabcontent-body-header-content{
    width: 200px;
    height: 35px;
    display: flex;
    margin-top: 20px;
}

.tabcontent-body-header-content button{
    font-size: 14px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600px; 
    padding: 2px 4px;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #F5F5F7;
    background-color: #ffffff;
}

.tabcontent-body-header-content button::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s ease;
}


.tabcontent-body-header-content button.active::before{
    background-color: #546FFF;
    width: 100%;
    left: 0;
}


.general-tabcontent{
    padding: 10px 0 0 0;
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 
 
 .switch-toggle{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 20px;
     width: 195px;
     height: auto;
     margin: 20px 30px;
 }

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #F5F5F7;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 100px;
}

input:checked + .slider {
    background-color: #ffffff;
    border: 1px solid #F5F5F7;
}

input:checked + .slider:before {
    transform: translateX(29px);
    background-color: #546FFF;
}

.label-text {
    font-size: 14px;
    font-weight: 600px;
    font-family: 'Plus Jakarta Sans', sans-serif;

}


.language{
    width: 300px;
    height: 87px;
    margin: 20px 30px;
    position: relative;
}

.language h1, .Timezone-radio h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600px; 
    font-size: 14px;   
}

.language-content {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; /* Center items vertically */
    border-radius: 10px;
    position: absolute;
    top: 36px;
}

.lang-select{
    width: 100%;
    height: 100%; /* Match the height of .language-content */
    display: flex; /* Use flexbox to center the select */
    justify-content: flex-start; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 10px;
    border: 1px solid #F5F5F7;
    padding: 0 10px;
}

select{
    width: 100%; /* Let the select size based on content */
    height: 100%; /* Adjust height for padding */
    border: none; /* Optional: remove the default border */
    display: flex; /* Use flexbox to center the select */
    justify-content: flex-start;
    align-items: center;
    outline: none; /* Optional: remove the outline */
    background: transparent; /* Optional: make the background transparent */
    font-family: 'Plus Jakarta Sans', sans-serif; /* Match the font family */
    font-size: 14px; /* Match the font size */

}

.Timezone-radio {
    width: 300px;
    height: 87px;
    margin: 20px 30px;
    position: relative;
}

.radio {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 27px;
}

.time-zone-12, .time-zone-24 {
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: space-between; /* Space between label and radio button */
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #F5F5F7; /* Default border color */
    transition: border-color 0.3s; /* Optional: smooth transition */
}

.time-zone-12.active, .time-zone-24.active{
    border: 1px solid #546FFF;
}

.time-zone-12:hover,.time-zone-24:hover{
    border: 1px solid #546FFF;
}

.time-zone-12 h1, .time-zone-24 h1 {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

input[type="radio"]{
    width: 15px;
    height: 15px;
    color:#546FFF;
    border: 4px solid #546FFF;
}


.save-changes{
    width: 216px;
    height: 44px;
    padding: 0 0 15px 0;
    margin: 35px 0 0 30px;
    border-radius: 10px;
    background-color: #546FFF;
}

.save-changes a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 10px;
}

.save-changes a h1{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.save-changes:hover{
    cursor: pointer;
}
