*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.side-bar{
    width: 16%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 350px;
    background-color: #ffffff; 
    flex-direction: column;
    padding: 20px 10px;
    border: 1px solid #F5F5F7;
    float: left;
}

.Hug-text{
    width: 188px;
    height: auto;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.huegas-text{
    width: auto;
    height: auto;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.img{
    width:22%;
    height: 100%;
    display: flex;
    justify-self: flex-start;
    align-self: center;
}

.img img{
    width: 100%;
    height: 100%;
}

.text{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text h1{
    font-size: 20px;
    color:#141522;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.hug{
    width: 188px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}
.content{
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px 0;
    border-radius: 10px;
}

.content::before{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.content.active{
    background-color: #F5F5F7;
    border-radius: 10px;
    cursor: pointer;
}

.content:hover{
    background-color: #F5F5F7;
    cursor: pointer;
}



.image{
    width: 20%;
    height: 24px;
    right: 115px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.image-text{
    width: 40%;
    position: absolute;
    height: 24px;
    left: 75px;
}

.image-text h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #141522;
    width: 100%;
    height: 100%;
}



.help-center{
    width: 188px;
    height: 248px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141522;
    position: relative;
}

.question-image{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/_.png');
    background-position: center;
    background-size: size;
    background-repeat: no-repeat;
    border: 4px solid #ffffff;
    background-color: #141522;
    filter: blur(1px);
    position: absolute;
    left: 70px;
    top: -20px;
}

.help-center-content{
    width: 152px;
    height: 76px;
    position: absolute;
}

.help-center-content h1{
    font-size:16px;
    font-family: 'satoshi', sans-serif;
    color:#ffffff;
    text-align: center;
}

.help-center-content p{
    font-size: 12px;
    color: #ffffff;
    font-family: 'Satoshi',sans-serif;
    text-align: center;
    padding: 10px 5px;
}

.help-center-link{
    width: 156px;
    height: 40px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    top: 200px;
}

.help-center-link a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}

.help-center-link a h1{
    font-size: 12px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #141522;
}

.help-center-link:hover{
    background-color: #141522;
    cursor: pointer;
    border: 1px solid #F5F5F7;
}

.help-center-link:hover .link-header{
    color: #F5F5F7;
}

.tabcontent{
    width: 84%;
    height: 1000px;
    float: left;
    background-color: #F5F5F7;
}

.tabcontent-header{
    width:100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.Task{
    height: auto;
    display: flex;
    padding: unset;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.task-details{
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.task-details-1{
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-search-form {
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: flex-start; /* Center the search container */
    align-items: center;
}

.search-container {
    position: relative; /* Create a positioning context */
    width: 380px; /* Make sure it takes full width */
    
}

.task-search-form form input {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #F5F5F7;
    padding:0 30px; /* Add padding to avoid text overlapping with the icon */
}

.task-search-form form a img {
    position: absolute; /* Position the icon */
    right: 10px; /* Space from the right edge */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical alignment */
    width: 20px;
    height: 20px;
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
}

.task-search-form form input::placeholder {
    color: #54577A; /* Change the color of the placeholder */
    font-family: 'Plus Jakarta Sans', sans-serif;
    opacity: 1; /* Ensures full opacity; default might be lower in some browsers */
    font-size: 12px; /* Change the font size */
    font-weight: 400px;
}


.task-section{
    width: 35%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.category, .deadline{
    width: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid #F5F5F7;
    border-radius: 10px;
}

.deadline{
    width: 196px;
}

.category-image, .deadline-image{
   width: 92px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 24px;
}

.deadline-image{
    width: 140px;
}

.category h1, .task-section h1{
    font-size: 12px;
    color: #141522;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600px;

}

.task-content{
    width: 720px;
    height: 952px;
    background-color: #ffffff;
    border: 1px solid red;
}

#content-2{
    height: auto;
}


.settings-header, .settings-header-content{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.settings-header h1{
    font-size: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600px;
}

.settings-header-content{
    width: auto;
}

.settings-header-content a img{
    width: 35px;
    height: 90%;
    margin: 0 7px;
}

.tabcontent-body{
    width: 94%;
    height: 500px;
    margin: 25px 20px 0 30px;
    background-color: #ffffff;
}

.tabcontent-body-header{
    width: 94%;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 30px;
    border-bottom: 1px solid #F5F5F7;
}

.tabcontent-body-header-content{
    width: 200px;
    height: 35px;
    display: flex;
    margin-top: 20px;
}

.tabcontent-body-header-content button{
    font-size: 14px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600px; 
    padding: 2px 4px;
    outline: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #F5F5F7;
    background-color: #ffffff;
}

.tabcontent-body-header-content button::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s ease;
}


.tabcontent-body-header-content button.active::before{
    background-color: #546FFF;
    width: 100%;
    left: 0;
}


.general-tabcontent{
    padding: 10px 0 0 0;
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
 }
 
 
 .switch-toggle{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 20px;
     width: 195px;
     height: auto;
     margin: 20px 30px;
 }

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #F5F5F7;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 100px;
}

input:checked + .slider {
    background-color: #ffffff;
    border: 1px solid #F5F5F7;
}

input:checked + .slider:before {
    transform: translateX(29px);
    background-color: #546FFF;
}

.label-text {
    font-size: 14px;
    font-weight: 600px;
    font-family: 'Plus Jakarta Sans', sans-serif;

}


.language{
    width: 300px;
    height: 87px;
    margin: 20px 30px;
    position: relative;
}

.language h1, .Timezone-radio h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600px; 
    font-size: 14px;   
}

.language-content {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; /* Center items vertically */
    border-radius: 10px;
    position: absolute;
    top: 36px;
}

.lang-select{
    width: 100%;
    height: 100%; /* Match the height of .language-content */
    display: flex; /* Use flexbox to center the select */
    justify-content: flex-start; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 10px;
    border: 1px solid #F5F5F7;
    padding: 0 10px;
}

select{
    width: 100%; /* Let the select size based on content */
    height: 100%; /* Adjust height for padding */
    border: none; /* Optional: remove the default border */
    display: flex; /* Use flexbox to center the select */
    justify-content: flex-start;
    align-items: center;
    outline: none; /* Optional: remove the outline */
    background: transparent; /* Optional: make the background transparent */
    font-family: 'Plus Jakarta Sans', sans-serif; /* Match the font family */
    font-size: 14px; /* Match the font size */

}

.Timezone-radio {
    width: 300px;
    height: 87px;
    margin: 20px 30px;
    position: relative;
}

.radio {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 27px;
}

.time-zone-12, .time-zone-24 {
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: space-between; /* Space between label and radio button */
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #F5F5F7; /* Default border color */
    transition: border-color 0.3s; /* Optional: smooth transition */
}

.time-zone-12.active, .time-zone-24.active{
    border: 1px solid #546FFF;
}

.time-zone-12:hover,.time-zone-24:hover{
    border: 1px solid #546FFF;
}

.time-zone-12 h1, .time-zone-24 h1 {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

input[type="radio"]{
    width: 15px;
    height: 15px;
    color:#546FFF;
    border: 4px solid #546FFF;
}


.save-changes{
    width: 216px;
    height: 44px;
    padding: 0 0 15px 0;
    margin: 35px 0 0 30px;
    border-radius: 10px;
    background-color: #546FFF;
}

.save-changes a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 10px;
}

.save-changes a h1{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.save-changes:hover{
    cursor: pointer;
}
